version: 2.1

orbs:
  browser-tools: circleci/browser-tools@1.5.1
  node: circleci/node@7.1.0

jobs:
  build:
    parallelism: 1
    docker:
      - image: cimg/ruby:4.0.1-browsers
        environment:
          BUNDLE_JOBS: 3
          BUNDLE_RETRY: 3
          BUNDLE_PATH: vendor/bundle
          PGHOST: 127.0.0.1
          PGUSER: postgres
          RAILS_ENV: test
      - image: cimg/postgres:10.18
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: app_test
          POSTGRES_PASSWORD:

    steps:
      - checkout
      - browser-tools/install-browser-tools:
          install-chrome: false
          install-chromedriver: false

      - node/install:
          node-version: 25.6.0

      - node/install-packages:
          pkg-manager: pnpm

      - browser-tools/install_firefox

      - run:
          name: Which versions?
          command: |
            bundle -v
            node --version
            pnpm --version

      # https://circleci.com/docs/2.0/caching/
      - restore_cache:
          keys:
            - bundle-v3-{{ checksum "Gemfile.lock" }}
            - bundle-v3

      - run: # Install Ruby dependencies
          name: Bundle Install
          command: bundle check || bundle install

      - save_cache:
          key: bundle-v3-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run:
          name: Database setup
          command: bin/rails db:setup --trace

      - run:
          name: Typescript
          command: pnpm tscheck

      - run:
          name: Find Unused ESLint Rules
          command: pnpm eslint_find_unused_rules

      - run:
          name: ESLint
          command: pnpm eslint

      - run:
          name: Vitest
          command: pnpm vitest run --coverage

      - run:
          name: Brakeman
          command: bundle exec brakeman

      - run:
          name: Stylelint
          command: pnpm stylelint

      - run:
          name: Rubocop
          command: bundle exec rubocop

      - run:
          name: Haml Lint
          command: bundle exec haml-lint

      - run:
          name: Run rspec in parallel
          command: |
            bundle exec rspec
            # DRIVER=firefox bundle exec rspec spec/system
            # DRIVER=chrome bundle exec rspec spec/system
            # bundle exec rspec --profile 10 \
            #                   --format RspecJunitFormatter \
            #                   --out test_results/rspec.xml \
            #                   --format progress \
            #                   $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)

      - store_test_results: # https://circleci.com/docs/2.0/collect-test-data/
          path: test_results
