- content_for(:header_meta) do
  %meta{ "http-equiv": "refresh", content: "300" }

.header
  = link_to("+ New Check", new_check_path, class: "new-check-btn")

- active_checks, inactive_checks = checks.partition(&:active?)

.active
  %h2 Active Checks

  = render("list", checks: active_checks)

.inactive
  %hr
  %h2 Inactive Checks

  = render("list", checks: inactive_checks)
