.header
  %h2 Pick an integration

.card-list
  .card
    %h3
      = icon("fab", "trello", class: "fa-lg")
      = link_to("Trello", new_trello_integration_path)
  .card
    %h3
      = icon("fab", "github", class: "fa-lg")
      = link_to("GitHub", new_github_integration_path)
