@import "./custom.css";

body {
  margin: 33px;
  color: #333;
  background-color: #fff;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
  background-color: #eee;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.flash-success {
  color: green;
}

.flash-error {
  color: red;
}

.error-explanation {
  width: 450px;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border: 2px solid red;
}

.error-explanation h2 {
  padding: 5px 5px 5px 15px;
  margin: -7px -7px 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  background-color: #c00;
}

.error-explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

main {
  max-width: 800px;
  margin: auto;
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 350px);
  gap: 25px;
  margin-top: 50px;
}

hr {
  margin-top: 50px;
}

.active h2,
.inactive h2 {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
}

.inactive {
  opacity: 0.5;
}

.new-check-btn {
  float: right;
}

.btn-primary {
  padding: 9px 12px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: rgb(71 120 186);
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s linear;
}

.btn-primary:hover {
  background-color: rgb(71 120 186 / 80%);
}

@media (width <= 400px) {
  .logo {
    display: inherit;
    width: 217px;
    margin: auto;
  }

  .nav {
    display: inherit;
    width: 217px;
    margin: auto;
    text-align: center;
  }
}

.header {
  padding: 10px 0;
  margin: 10px 0;
}

.title {
  margin-top: -37px;
  margin-bottom: 20px;
  margin-left: 55px;
}

@media (width >= 400px) {
  .nav {
    margin-left: 20px;
  }
}

h3 {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 1.5em;
}

.card {
  display: grid;
  grid-template-columns: auto 10px;
  min-height: 100px;
  padding: 20px;
  background-color: rgb(71 120 186 / 40%);
  border-radius: 15px;
}

.card p {
  font-size: 1.25em;
}

.card a {
  text-align: center;
  text-decoration: none;
}

.card a span {
  padding-left: 5px;
}

.card .fa-lg {
  margin-right: 5px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.25em;
}

.check-values {
  display: flex;
  flex-basis: 70px;
  align-items: baseline;
  justify-content: space-evenly;
}

.check-value {
  display: inline-block;
  min-width: 30px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  color: #555;
  text-align: center;
  background: #fff;
  border-radius: 50%;
}

.target-value {
  background: #ddd;
}
