/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// primary colors
// orange: c57013 -- rgb(197, 112, 19)
// purple/pink: bc2fbf -- rgb(188, 47, 191)
// blue: 4778ba -- rgba(71, 120, 186)

@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  background-color: #fff;
  color: #333;
  margin: 33px;
}

body,
p,
ol,
ul,
td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

.flash-success {
  color: green;
}

.flash-error {
  color: red;
}

.error-explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

.error-explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

main {
  max-width: 800px;
  margin: auto;
}

.card-list {
  display: grid;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fill, 350px);
  grid-gap: 25px;
}

hr {
  margin-top: 50px;
}

.active h2,
.inactive h2 {
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

.inactive {
  opacity: 50%;
}

.new-check-btn {
  float: right;
}

.btn-primary {
  padding: 9px 12px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: rgba(71, 120, 186, 100%);
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: rgba(71, 120, 186, 80%);
  }
}

@media (max-width: 400px) {
  .logo {
    margin: auto;
    display: inherit;
    width: 217px;
  }

  .nav {
    text-align: center;
    margin: auto;
    display: inherit;
    width: 217px;
  }
}

.header {
  margin: 10px 0;
  padding: 10px 0;
}

.title {
  margin-left: 55px;
  margin-top: -37px;
  margin-bottom: 20px;
}

@media (min-width: 400px) {
  .nav {
    margin-left: 20px;
  }
}

h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
  margin-top: 25px;
}

.card {
  display: grid;
  grid-template-columns: auto 10px;
  min-height: 100px;

  p {
    font-size: 1.25em;
  }

  a {
    text-decoration: none;
    text-align: center;

    span {
      padding-left: 5px;
    }
  }

  .fa-lg {
    margin-right: 5px;
  }

  background-color: rgba(71, 120, 186, 40%);
  padding: 20px;
  border-radius: 15px;
}

.card-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.25em;
}

.check-values {
  display: flex;
  flex-basis: 70px;
  align-items: baseline;
  justify-content: space-evenly;
}

.check-value {
  font-weight: bold;
  border-radius: 50%;
  padding: 10px;
  background: #fff;
  text-align: center;
  color: #555;
  font-size: 20px;
  line-height: 30px;
  display: inline-block;
  min-width: 30px;
}

.target-value {
  background: #ddd;
}
